<div class="footer">
    <div class="footer-1part"></div>
    <div class="footer-2part">
        <div class="social">
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="">
                <i class="fab fa-discord"></i>
            </a>
            <a href="">
                <i class="fab fa-reddit"></i>
            </a>
        </div>
        <div class="site-name">©maisgamer.com 2020</div>
    </div>
</div>
