<div class="footer">
    <div class="footer-1part"></div>
    <div class="footer-2part">
        <div class="social">
            <a href="">
                <img src="{{ url_for('static', filename='/images/Instagram.svg') }}"/>
            </a>
            <a href="">
                <img src="{{ url_for('static', filename='/images/Twitter.svg') }}"/>
            </a>
            <a href="">
                <img src="{{ url_for('static', filename='/images/Youtube.svg') }}"/>
            </a>
            <a href="">
                <img src="{{ url_for('static', filename='/images/Discord.svg') }}"/>
            </a>
            <a href="">
                <img src="{{ url_for('static', filename='/images/Reddit.svg') }}"/>
            </a>
        </div>
        <p class="site-name">©nomedosite.com 2020</p>
    </div>
</div>
