<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';">-->
<link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sub-header.css') }}">
<script data-ad-client="ca-pub-1284323428666859" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>