<header class="header">
  <input type="checkbox" id="options1" onchange="dockCloser()">
  <label for="options1">
    <div class="background-options"></div>
  </label>
  <div class="header-mobile">
    <div class="open-search-mobile" style="font-size: 24px; color: #C7C7C7; margin-left: 10px;">
      <i id="search-button-mobile" class="fas fa-search"></i>
    </div>
    <div class="search-mobile-results">
      <div class="search-mobile-header">
        <input type="search" class="search-mobile-input" placeholder="Buscar" autocomplete="off">
        <svg width="35" height="35" class="closer-search" viewBox="0 0 32 32" style="margin-right: 10px;">
          <circle opacity=".07" cx="16" cy="16" r="16" fill="#FFFFFF"></circle>
          <g stroke="#C7C7C7" stroke-width="2">
            <path d="M12.007 11.973l8.132 8.132M11.993 20.093l8.131-8.132"></path>
          </g>
        </svg>
      </div>
      <div class="write">Escreva para buscar</div>
      <div class="search-mobile-body">
      </div>
    </div>
    <div class="search-background-mobile"></div>
    <script src="{{ url_for('static', filename='javascript/search-mobile.js') }}"></script>
    <a href="{{ url_for('index') }}" title="Página inicial">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="" class="logo">
    </a>
    <label for="options1" class="options">
      <svg width="35" height="35" class="options-button" viewBox="0 0 32 32">
        <circle opacity=".07" cx="16" cy="16" r="16" fill="#FFFFFF"></circle>
        <path fill="#C7C7C7" d="M22 10v2H10v-2zM22 15v2H10v-2zM22 20v2H10v-2z"></path>
      </svg>
    </label>
  </div>
  <div class="header-1part">
    <div class="header-1part-top">
      <img src="{{ url_for('static', filename='favicon_2.png') }}" alt="Mais Gamer - Logo" class="Favicon">
      <label for="options1">
        <svg width="35" height="35" class="" viewBox="0 0 32 32">
          <circle opacity=".07" cx="16" cy="16" r="16" fill="#FFFFFF"></circle>
          <g stroke="#C7C7C7" stroke-width="2">
            <path d="M12.007 11.973l8.132 8.132M11.993 20.093l8.131-8.132"></path>
          </g>
        </svg>
      </label>
    </div>
    {% if current_user.is_authenticated %}
    <input type="checkbox" id="mo1" class="input-second-options-mobile"> {% if current_user.icon %}
    <label for="mo1" class="header-1part-1opc" id="header-login">
      <img class="user-icon" src="{{ current_user.icon }}" alt="{{ current_user.name + ' ' + current_user.surname }}"
        style="margin-right: 10px; font-size: 30px;" />
      {{ current_user.name }}
      <svg width="8" height="5" viewBox="0 0 8 5" class="arrow-right" fill="#ffa31a" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.707109 1.70711L3.29289 4.29289C3.68342 4.68342 4.31658 4.68342 4.70711 4.29289L7.29289 1.70711C7.92286 1.07714 7.47669 0 6.58579 0H1.41421C0.523309 0 0.0771438 1.07714 0.707109 1.70711Z">
        </path>
      </svg>
    </label> {% else %}
    <label for="mo1" class="header-1part-1opc" id="header-login">
      <i class="fas fa-user-circle" style="margin-right: 10px; font-size: 30px;"></i>
      {{ current_user.name }}
      <svg width="8" height="5" viewBox="0 0 8 5" class="arrow-right" fill="#ffa31a" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.707109 1.70711L3.29289 4.29289C3.68342 4.68342 4.31658 4.68342 4.70711 4.29289L7.29289 1.70711C7.92286 1.07714 7.47669 0 6.58579 0H1.41421C0.523309 0 0.0771438 1.07714 0.707109 1.70711Z">
        </path>
      </svg>
    </label> {% endif %}
    <div class="second-options-mobile" id="som-1">
      <div class="second-options-mobile-header">
        <label class="back" for="mo1">
          <svg width="8" height="5" viewBox="0 0 8 5" class="arrow-left" fill="#ffa31a"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.707109 1.70711L3.29289 4.29289C3.68342 4.68342 4.31658 4.68342 4.70711 4.29289L7.29289 1.70711C7.92286 1.07714 7.47669 0 6.58579 0H1.41421C0.523309 0 0.0771438 1.07714 0.707109 1.70711Z">
            </path>
          </svg>Voltar
        </label>
        <label class="exit" for="options1">
          <svg width="35" height="35" class="" viewBox="0 0 32 32">
            <circle opacity=".07" cx="16" cy="16" r="16" fill="#FFFFFF"></circle>
            <g stroke="#C7C7C7" stroke-width="2">
              <path d="M12.007 11.973l8.132 8.132M11.993 20.093l8.131-8.132"></path>
            </g>
          </svg>
        </label>
      </div>
      <ul class="options-mobile">
        {% if current_user.is_poster == 1 %}
        <li>
          <a href="{{ url_for('posts') }}" id="mo" class="post">
            <i class="far fa-file-alt" style="margin-right: 10px;"></i>Postagens
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ url_for('groups') }}" id="mo" class="groups">
            <i class="fas fa-gamepad" style="margin-right: 10px;"></i>Grupos para Gamers
          </a>
        </li>
        <li>
          <a href="{{ url_for('profile') }}" id="mo" class="profile">
            <i class="fas fa-user" style="margin-right: 10px;"></i>Meu usuário
          </a>
        </li>
        <li>
          <a href="{{ url_for('logout') }}" id="mo" class="logout">
            <i class="fas fa-sign-out-alt" style="margin-right: 10px;"></i>Encerrar sessão
          </a>
        </li>
      </ul>
    </div>
    {% else %}
    <div class="header-1part-1opc" id="header-login">
      <ul>
        <li>
          <a class="login" href="{{ url_for('login') }}">
            <i class="fas fa-sign-in-alt" style="margin-right: 10px;"></i> ENTRAR
          </a>
        </li>
        <li>
          <a class="register" href="{{ url_for('register') }}">
            <i class="fas fa-user-plus" style="margin-right: 10px;"></i> REGISTRAR-SE
          </a>
        </li>
      </ul>
    </div>
    {% endif %}
    <nav>
      <ul class="header-items">
        <li>
          <a href="{{ url_for('gaming_news') }}" class="header-1part-1opc">Notícias sobre games</a>
        </li>
        <li>
          <a href="{{ url_for('strategy_guide') }}" class="header-1part-1opc">Guias de estratégia</a>
        </li>
        <li>
          <a href="{{ url_for('trailer') }}" class="header-1part-1opc">Trailers</a>
        </li>
        <li>
          <a href="{{ url_for('e_sports') }}" class="header-1part-1opc">e-Sports</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-2part">
    <a href="{{ url_for('index') }}" title="Página inicial">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Mais Gamer" class="logo">
    </a>
    <div class="search">
      <input type="checkbox" class="checkbox-search">
      <div class="background-search"></div>
      <input type="search" class="search-input" placeholder="Buscar" autocomplete="off" />
      <div class="results">
        <span class="result-title">Escreva para buscar</span>
        <div class="container-result">
        </div>
      </div>
      <script src="{{ url_for('static', filename='javascript/search.js') }}"></script>
    </div>
    <div class="user-informations">
      {% if current_user.is_authenticated %}
      <div class="user">
        <a class="user-name">
          {% if current_user.icon %}
          <img class="user-icon" src="{{ current_user.icon }}"
            alt="{{ current_user.name + ' ' + current_user.surname }}">
          {% else %}
          <i class="fas fa-user-circle" style="font-size: 25px;"></i>
          {% endif %}
          {{ current_user.name }}
          <svg width="8" height="5" viewBox="0 0 8 5" class="arrow-down" fill="#ffa31a"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.707109 1.70711L3.29289 4.29289C3.68342 4.68342 4.31658 4.68342 4.70711 4.29289L7.29289 1.70711C7.92286 1.07714 7.47669 0 6.58579 0H1.41421C0.523309 0 0.0771438 1.07714 0.707109 1.70711Z">
            </path>
          </svg>
        </a>
        <ul class="options">
          {% if current_user.is_poster == 1 %}
          <li class="user-options">
            <a href="{{ url_for('posts') }}" class="post">
              <i class="far fa-file-alt" style="margin-right: 10px;"></i>Postagens
            </a>
          </li>
          {% endif %}
          <li class="user-options">
            <a href="{{ url_for('groups') }}" id="mo" class="post">
              <i class="fas fa-gamepad" style="margin-right: 10px;"></i>Grupos para Gamers
            </a>
          </li>
          <li class="user-options">
            <a href="{{ url_for('profile') }}" id="mo" class="post">
              <i class="fas fa-user" style="margin-right: 10px;"></i>Meu usuário
            </a>
          </li>
          <li class="user-options">
            <a href="{{ url_for('logout') }}" class="logout">
              <i class="fas fa-sign-out-alt" style="margin-right: 10px;"></i>Encerrar sessão
            </a>
          </li>
        </ul>
      </div>
      {% else %}
      <div class="auth">
        <ul>
          <li>
            <a href="{{ url_for('login') }}" class="signin">
              <i class="fas fa-sign-in-alt" style="margin-right: 10px;"></i> ENTRAR
            </a>
          </li>
          <li>
            <a href="{{ url_for('register') }}" class="signup">
              <i class="fas fa-user-plus" style="margin-right: 10px;"></i> REGISTRAR-SE
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</header>
<script src="{{ url_for('static', filename='javascript/secondOptionsMobile.js') }}"></script>
