<div class="new-group">
  <h1 class="new-group-title">Novo Grupo</h1>
  <div class="new-group-container">
    <form action="" class="search-group">
      <input required type="url" class="ng-url" placeholder="Link do seu grupo de WhatsApp">
      <button class="ng-search">Buscar</button>
      <div class="sg-loader" style="display: none;">
        {% include 'components/loader.html' %}
      </div>
    </form>
    <form class="ng-result" style="display: none;">
      <div class="ng-result-container">
        <div class="ng-icon">
          <img class="ng-icon-img" src="" alt="">
        </div>
        <span class="social-media" id="whatsapp"><i class="fab fa-whatsapp" style="margin-right:  10px;"></i>whatsapp</span>
        <h3 class="ng-name"></h3>
        <textarea required minlength="10" maxlength="260" class="ng-description" placeholder="Adiciona uma descrição para seu grupo" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <button class="ng-send">Enviar Grupo</button>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='javascript/newGroup.js') }}"></script>
