<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'components/head.html' %}
  <meta property="description" content="Site de notícias para gamers e e-esports" />
  <meta property="og:description" content="Site de notícias para gamers e e-esports">
  <meta property="og:image" content="{{ url_for('static', filename='favicon_2.png') }}">
  <meta property="twitter:description" content="Maior site de notícias para gamers e e-esports" />
  <meta property="twitter:image" content="{{ url_for('static', filename='favicon_2.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
  <div class='web'>
    {% include 'components/header.html' %}
    <div class="payload">
      <div class="home">
        <div class="page">
          <a href="{{ url_for('notice', id=posts.pages[0].header.id) }}" class="header-art">
            <h3 class="header-title">{{ posts.pages[0].header.title }}</h3>
            <div class="header-pic">
              <img src="{{ posts.pages[0].header.cover_image }}" alt="{{ posts.pages[0].header.title }}">
            </div>
            <p class="header-subtitle">{{ posts.pages[0].header.subtitle }}</p>
            <div class="infos">
              <span class="postedBy"><i
                  class="fas fa-user-tag">{{ posts.pages[0].header.posted_by.name + ' ' + posts.pages[0].header.posted_by.surname }}</i>
              </span>
              <time datetime="{{ posts.pages[0].header.addedAt }}"><i class="far fa-clock">
                  {{ DatePost(posts.pages[0].header.addedAt) }}</i></time>
            </div>
          </a>
          {% for post in posts.pages[0].notices %}
          <a class="rest-art" href="{{ url_for('notice', id=post.id) }}">
            <div class="rest-pic">
              <img src="{{ post.cover_image }}" alt="{{ post.title }}">
            </div>
            <div class="infos">
              <h3 class="rest-title">{{ post.title }}</h3>
              <p class="rest-subtitle">{{ post.subtitle }}</p>
              <span class="postedBy"><i
                  class="fas fa-user-tag">{{ post.posted_by.name + ' ' + post.posted_by.surname }}</i></span>
              <time datetime="{{ post.addedAt }}"><i class="far fa-clock">
                  {{ DatePost(post.addedAt) }}</i></time>
            </div>
          </a>
          {% endfor %}
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- H-1 -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1284323428666859"
            data-ad-slot="8676887631" data-ad-format="auto" data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      <div class="loads" style="position: relative;">
        <i class="fas fa-spinner"></i>
        Carregando
      </div>
    </div>
    {% include 'components/footer.html' %}
  </div>
  <script src="{{ url_for('static', filename='javascript/categories.js') }}"></script>
</body>

</html>
