<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'components/head.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/notice.css') }}">
  <meta name="description" content="{{ notice.subtitle }}" />
  <meta property="og:description" content="{{ notice.subtitle }}">
  <meta property="og:image" content="{{ notice.cover_image }}" />
  <meta property="twitter:description" content="{{ notice.subtitle }}" class="twitter-description" />
  <meta property="twitter:image" content="{{ notice.cover_image }}" />
  <meta property="article:published_time" content="{{ notice.addedAt }}">
  <meta property="article:modified_time" content="{{ notice.addedAt }}">
</head>

<body>
  <div class='web'>
    {% include 'components/header.html' %}
    <div class="payload">
      <div class="notice">
        <div class="notice-header">
          <h1 class="header-title">{{ notice.title }}</h1>
          <p class="notice-subtitle">{{ notice.subtitle }}</p>
          <span class="posted-by"><i class="fas fa-user-tag"> {{ user.name + ' ' + user.surname }}</i></span>
          <div class="notice-options">
            <time class="addedAt" datetime="{{ notice.addedAt }}"><i class="far fa-clock">
                {{ DatePost(notice.addedAt) }}</i></time>
            <div class="share">
              <a id="facebook" href="" target="_blank" title="Compartilhar esta notícia no Facebook">
                <i class="fab fa-facebook" id="facebook"></i>
              </a>
              <a id="twitter" href="" target="_blank" title="Compartilhar esta notícia no Twitter">
                <i class="fab fa-twitter" id="twitter"></i>
              </a>
              <a id="whatsapp" href="" target="_blank" title="Compartilhar esta notícia no WhatsApp">
                <i class="fab fa-whatsapp" id="whatsapp"></i>
              </a>
              <script src="{{ url_for('static', filename='javascript/noticeShare.js') }}"></script>
            </div>
          </div>
        </div>
        {% set pAnt = {'bool': False, 'counter': 0} %}
        <div class="notice-body-container">
          <div class="notice-body">
            {% for content in notice_content %}

            {% if content.type == 'IMG' %}
            {% if pAnt.update({'bool': False}) %}{% endif %}
            <img src="{{ content.content }}" alt="{{ notice.title }}">

            {% elif content.type == 'T' %}
            {% if pAnt.update({'bool': False}) %}{% endif %}
            <h2>{{ content.content }}</h2>

            {% elif content.type == 'TXT' %}
            {% if pAnt.update({'bool': False}) %}{% endif %}
            <pre>{{ content.content }}</pre>

            {% elif content.type == 'C' %}
            {% if pAnt.update({'bool': False}) %}{% endif %}
            <cite>{{ content.content }}</cite>

            {% elif content.type == 'P' %}
            {% if pAnt.update({'counter': pAnt.counter + 1}) %}{% endif %}
            {% if pAnt.update({'bool': True}) %}{% endif %}
            {% if pAnt.counter > 5 and pAnt.bool == True %}
            <div class="adsInNotice">
              <!--<span class="continuePub">Continua após a publicidade</span>-->
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
                data-ad-format="fluid" data-ad-client="ca-pub-1284323428666859" data-ad-slot="6810601184"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
            {% if pAnt.update({'counter': 0}) %}{% endif %}
            {% if pAnt.update({'bool': False}) %}{% endif %}
            {% endif %}
            <p>{{ content.content }}</p>

            {% elif content.type == 'YTB' %}
            {% if pAnt.update({'bool': False}) %}{% endif %}
            <iframe class="vYtb" src="{{ 'https://www.youtube.com/embed/' + content.content }}" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>

            {% elif content.type == 'TWT' %}
            {% if pAnt.update({'bool': False}) %}{% endif %}
            <div data-embed-type="tweet" class="tweet">
              {{ content.content|safe }}
            </div>
            {% endif %}

            {% endfor %}
            {% if notice.source_name != '' and notice.source_name != None %}
            <span class="source">
              <i class="far fa-newspaper"></i> Créditos:
              <a href="{{ notice.source_url }}" target="_blank">{{ notice.source_name }}</a>
            </span>
            {% endif %}
          </div>
          <div class="ad1"></div>
          <script>
            const ad1 = document.querySelector('.ad1');
            if (window.innerWidth > 1025) {
              const googleAd1Script1 = document.createElement('script');
              googleAd1Script1.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js';
              googleAd1Script1.async = true;
              const googleAd1 = document.createElement('div');
              googleAd1.appendChild(googleAd1Script1);
              googleAd1.className = 'ads-pc';
              googleAd1.innerHTML = `
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1284323428666859"
                data-ad-slot="1024261343" data-ad-format="auto" data-full-width-responsive="true"></ins>
              `;
              const googleAd1Script2 = document.createElement('script');
              googleAd1Script2.src = '/static/javascript/googleAds.js';
              googleAd1.appendChild(googleAd1Script2);
              ad1.appendChild(googleAd1);
            };
          </script>
        </div>
      </div>
      {% if more_news != None %}
      <div class="more-notices">
        <div class="googleAdsFooter">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- H-1 -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1284323428666859"
            data-ad-slot="8676887631" data-ad-format="auto" data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <span class="more-notices-title">Mais notícias</span>
        <!-- <div class="notices-in-more">
          {% for news in more_news %}
          <a href="{{ url_for('notice', q=news.id) }}" class="news-container-link">
            <div class="news-container">
              <div class="cover_image">
                <img src="{{ news.cover_image }}" alt="{{ news.title }}">
              </div>
              <div class="title-content">
                <span class="title">{{ news.title }}</span>
              </div>
            </div>
          </a>
          {% endfor %}
        </div> -->
      </div>
      {% endif %}
    </div>
    {% include 'components/footer.html' %}
</body>

</html>
