<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'components/head.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>

<body>
  <div class='web'>
    {% include 'components/header.html' %}
    <div class="payload">
      <div class="profile">
        <h1 class="profile-title">Meus Dados</h1>
        <div class="profile-data">
          <div class="change-data">
            <div class="data-container">
              <label for="p-username">Nome de usuário </label>
              <input type="text" class="data" id="p-username" value="{{ current_user.username }}">
              <button class="username-changer">Alterar nome de usuário</button>
            </div>
            <div class="data-container">
              <label for="p-name">Nome</label>
              <input type="text" class="data" id="p-name" value="{{ current_user.name }}">
              <button class="name-changer">Alterar nome</button>
            </div>
            <div class="data-container">
              <label for="p-surname">Sobrenome</label>
              <input type="text" class="data" id="p-surname" value="{{ current_user.surname }}">
              <button class="surname-changer">Alterar sobrenome</button>
            </div>
            <div class="data-container">
              <label for="p-email">Email</label>
              <input type="text" class="data" id="p-email" value="{{ current_user.email }}">
              <button class="email-changer">Alterar email</button>
            </div>
          </div>
        </div>
        <div class="change-password">
          <button class="password-changer">Alterar minha senha</button>
        </div>
      </div>
      <script src="{{ url_for('static', filename='javascript/profile.js') }}"></script>
    </div>
    {% include 'components/footer.html' %}
  </div>
</body>

</html>
