<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'components/head.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>

<body>
  <div class='web'>
    {% include 'components/header.html' %}
    <div class="payload">
      <div class="profile">
        <h1 class="profile-title">Meus Dados</h1>
        <div class="profile-data">
          <form action="" class="change-data">
            <input type="text" class="data" id="p-username" value="{{ current_user.username }}">
            <input type="text" class="data" id="p-name" value="{{ current_user.name }}">
            <input type="text" class="data" id="p-surname" value="{{ current_user.surname }}">
            <input type="text" class="data" id="p-email" value="{{ current_user.email }}">
          </form>
          <button class="data-changer">Alterar meus dados</button>
        </div>
        <div class="change-password">
          <button class="password-changer">Alterar minha senha</button>
        </div>
      </div>
      <script src="{{ url_for('static', filename='javascript/profile.js') }}"></script>
    </div>
    {% include 'components/footer.html' %}
  </div>
</body>

</html>
