@import url('https://fonts.googleapis.com/css?family=Belgrano&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: green;
}

html, body, .web, .payload {
    background: #FFFFFF;
    -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
}

body, input, button, textarea, select, option, pre {
    font-family: 'Belgrano', serif;
    -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
}

input {
    -webkit-appearance: none;
        appearance: none;
}

input:focus {
    border: 0 none;
}
