.web {
    width: 100%;
    background-color: #FFFFFF;
}

.web .payload {
    display: block;
    user-select: none;
    background-color: #FFFFFF;
}

.web .payload .game {
    align-items: center;
    display: flex;
    position: relative;
    margin: 20px auto 50px auto;
    border-bottom: 1px solid #EBE8EC;
    width: max-content;
    padding: 7px 14px;
    border-radius: 5px;
}

.web .payload .game .list-icon {
    height: 40px;
    width: initial;
}

.web .payload .game .list-game {
    margin-left: 12px;
}

.web .payload .notice {
    width: 80%;
    margin: 20px auto;
    display: flex;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #EBE8EC;
}

.web .payload .notice .cover_image {
    overflow: hidden;
    width: 350px;
}

.payload .notice .cover_image img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
            transition: all 0.2s linear;
    -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
            transform: scale(1.04);
}

.payload .notice:hover > .cover_image img {
    -webkit-transform: scale(1);
        -moz-transform: scale(1);
            transform: scale(1);
}

.payload .notice .notice-description {
    margin-left: 20px;
    width: 65%;
}

.payload .notice .notice-description .title {
    font-size: 20px;
    color:#222222;
    margin-bottom: 10px;
    -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.payload .notice .notice-description .subtitle {
    font-size: 14px;
    color:#222222;
    margin-bottom: 10px;
}

.payload .notice .notice-description .addedAt {
    position: sticky;
    font-size: 13px;
    color: #827189;
    top: 100%;
}

.payload .notice .notice-description .itens {
    width: max-content;
    position: sticky;
    top: 100%;
    float: right;
    display: flex;
}

.notice .notice-description .itens .read-more {
    background: #ffa31a;
    padding: 5px 15px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 3px;
    -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.notice .notice-description .itens .read-more:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 1025px) {
    .web .payload .game {
        align-items: center;
    }

    .web .payload .game .list-icon {
        height: 30px;
        width: initial;
    }
    .web .payload .game .list-game {
        margin-left: 12px;
        font-size: 22px;
    }

    .web .payload .notice {
        align-items: center;
        width: 95%;
        padding: 0 0 20px 0;
        height: max-content;
    }

    .web .payload .notice .cover_image {
        width: 40%;
        height: 100%;
        min-width: 150px;
    }

    .payload .notice .cover_image img {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .payload .notice .notice-description {
        margin-left: 10px;
        width: 100%;
    }
    
    .payload .notice .notice-description .title {
        font-size: 13px;
        color:#222222;
        margin-bottom: 5px;
    }
    
    .payload .notice .notice-description .subtitle {
        font-size: 14px;
        color:#222222;
        margin-bottom: 5px;
        display: none;
    }
    
    .payload .notice .notice-description .addedAt {
        position: sticky;
        font-size: 13px;
        color: #827189;
        top: 100%;
        display: none;
    }
    
    .payload .notice .notice-description .itens {
        width: max-content;
        position: sticky;
        top: 100%;
        float: right;
        display: flex;
    }
    
    .notice .notice-description .itens .read-more {
        background: #ffa31a;
        padding: 5px 15px;
        text-decoration: none;
        color: #FFFFFF;
        -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
                transition: all 0.2s linear;
    }

}
