.header .header-2part .user {
    display: inline-block;
    position: relative;
    height: 80px;
}

.header .header-2part .user:hover {
    overflow: visible;
}

.header .header-2part .user .user-name {
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    line-height: 65px;
    margin: 0 0.95em;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98), border-color 0.5s cubic-bezier(0.06, 0.81, 0, 0.98);
    font-weight: 400;
    color: #FFFFFF;
    user-select: none;
}

.header .header-2part .user:hover {
    cursor: pointer;
}

.header .header-2part .user:hover>.user-name .arrow-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.user .user-name .arrow-down {
    position: relative;
    left: 5px;
    top: -3px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.header .header-2part .user:hover>.options {
    visibility: visible;
    opacity: 1;
}

.header-2part .user .options {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 68px;
    background-color: #111111;
    text-align: left;
    font-size: 1rem;
    min-width: 200px;
    width: max-content;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.06, 0.81, 0, 0.98) 0s, visibility 0s;
    z-index: 3;
    box-shadow: 0px 0px 5px black;
}

.user .options .user-options {
    color: #1d1d1d;
    border-bottom: solid 2px #111111;
    list-style-type: none;
}

.user .options .user-options a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    padding: 20px 15px;
    user-select: none;
    border-bottom: 1px solid #111111;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.user .options .user-options a:hover {
    background: #333333;
}