<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/notice.css') }}">
        <meta property="description" content="{{ notice.subtitle }}" />
        <meta property="og:image" content="{{ notice.cover_image }}" />
        <meta property="twitter:description" content="{{ notice.subtitle }}" class="twitter-description"/>
        <meta property="twitter:image" content="{{ notice.cover_image }}" />
        {% include 'components/head.html' %}
    </head>
    <body>
        <div class='web'>
            {% include 'components/header.html' %}
            <div class="payload">
                <div class="notice">
                    <div class="notice-header">
                        <h1 class="header-title">{{ notice.title }}</h1>
                        {% if game.id != 0 %}
                            <div class="game">
                                <h3 class="game">{{ game.name }}</h3>
                            </div>
                        {% endif %}
                        <span class="posted-by">{{ user.name + ' ' + user.surname + ' - @' +user.username}}</span>
                        <div class="notice-options">
                            <p class="addedAt"><i class="far fa-clock" style="margin-right: 5px;"></i>{{ DatePost(notice.addedAt) }}</p>
                            <div class="share">
                                <a id="facebook" href="" target="_blank" title="Compartilhar esta notícia no Facebook">
                                    <i class="fab fa-facebook" id="facebook"></i>
                                </a>
                                <a id="twitter" href="" target="_blank" title="Compartilhar esta notícia no Twitter">
                                    <i class="fab fa-twitter" id="twitter"></i>
                                </a>
                                <a id="whatsapp" href="" target="_blank" title="Compartilhar esta notícia no WhatsApp">
                                    <i class="fab fa-whatsapp" id="whatsapp"></i>
                                </a>
                                <script src="{{ url_for('static', filename='javascript/noticeShare.js') }}"></script>
                            </div>
                        </div>
                    </div>
                    <h3 class="notice-subtitle">{{ notice.subtitle }}</h3>
                    <div class="notice-body">
                        {% for content in notice_content %}
                            {% if content.type == 'IMG' %}
                                <img src="{{ content.content }}" alt="{{ notice.title }}">
                            {% elif content.type == 'TXT' %}
                                <pre>{{ content.content }}</pre>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% include 'components/footer.html' %}
        </div>
    </body>
</html>
