<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% include 'components/head.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/my_posts.css') }}">   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/new_post.css') }}">    
    </head>
    <body>
        <div class='web'>
            {% include 'components/header.html' %}
            <div class="payload">
                <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
                <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>   
                <textarea name="" id="" cols="30" rows="10"></textarea>                             
            </div>
            {% include 'components/footer.html' %}
        </div>
    </body>
</html>
