<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'components/head.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my_posts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/new_post.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
</head>

<body>
  <div class='web'>
    {% include 'components/header.html' %}
    <div class="payload">
      <div class="posts">
        <div class="posts-actions">
          <div class="new-post">
            <h1 class="new-info">Nova notícia</h1>
            <div class="new-post-inputs">
              <form action="" method="post" enctype="multipart/form-data" class="form-sub">
                <label for="cover_image" class="image-cover-select">
                  Selecionar capa da notícia &nbsp;
                  <i class="fa fa-image"></i>
                </label>
                <img alt="" class="image-cover" required>
                <textarea type="text" id="header" class="new-post-title" placeholder="Título da notícia..." rows="1"
                  required></textarea>
                <textarea type="text" id="header" class="new-post-subtitle" placeholder="Subtítulo da notícia..."
                  rows="1" required></textarea>
                <div class="editor-container" oncontextmenu="return false;">
                  <div class="contents"></div>
                  <div class="editor-options">
                    <ul class="options">
                      <li id="add-title"><i class="fas fa-heading"></i></i>
                        <p>&nbsp;&nbsp;&nbsp;Adicionar um título</p>
                      </li>
                      <li id="add-paragraph"><i class="fas fa-paragraph"></i>
                        <p>&nbsp;&nbsp;&nbsp;Adicionar um paragrafo</p>
                      </li>
                      <li id="add-cite"><i class="far fa-comment-dots"></i>&nbsp;&nbsp;&nbsp;Adicionar uma citação</li>
                      <!--<li id="add-comment"><i class="fas fa-comment"></i>&nbsp;&nbsp;&nbsp;Adicionar um comentário</li>-->
                      <li id="add-image"><i class="far fa-image"></i>
                        <p>&nbsp;&nbsp;&nbsp;Adicionar uma imagem</p>
                      </li>
                      <li id="add-youtube-video"><i class="fab fa-youtube"></i>
                        <p>&nbsp;&nbsp;&nbsp;Adicionar um video do
                          YouTube</p>
                      </li>
                      <li id="add-twitter-post"><i class="fab fa-twitter"></i>
                        <p>&nbsp;&nbsp;&nbsp;Adicionar uma postagem
                          do Twitter</p>
                      </li>
                    </ul>
                    <ul>
                      <li id="remove"><i class="fas fa-trash-alt"></i>
                        <p>&nbsp;&nbsp;&nbsp;Apagar</p>
                      </li>
                    </ul>
                  </div>
                  <div class="editor-options-background"></div>
                </div>
                <div class="category">
                  <label for="category">Qual a categoria desta notícia?</label>
                  <select id="category">
                    {% for category in post_categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="source">
                  <label for="source-question">Esta notícia possui alguma fonte de referência?</label>
                  <select id="source-question">
                    <option value="no">Não</option>
                    <option value="yes">Sim</option>
                  </select>
                  <input type="text" id="header" class="source-name" placeholder="Nome da fonte usada como referência">
                  <input type="url" id="header" class="source-url" placeholder="Cole a url do site usado como fonte">
                  <div class="source-loader" style="width: 100%; margin: 20px auto; display: none;">
                    {% include 'components/loader.html' %}
                  </div>
                </div>
                <button type="submit" class="submit"><i class="fas fa-paper-plane"></i> Enviar notícia</button>
                <span class="error"></span>
              </form>
              <script src="{{ url_for('static', filename='javascript/newPost.js') }}"></script>
              <script src="{{ url_for('static', filename='javascript/editorFunctions.js') }}"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
