<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'components/head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_posts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    </link>
</head>

<body>
    <div class='web'>
        {% include 'components/header.html' %}
        <div class="payload">
            <div class="posts">
                <div class="posts-actions">
                    <div class="new-post">
                        <h1 class="new-info">Nova notícia</h1>
                        <div class="new-post-inputs">
                            <form action="" method="post" enctype="multipart/form-data" class="form-sub">
                                <input type="file" class="cover_image" id="cover_image">
                                <label for="cover_image" class="image-cover-select">
                  Selecionar capa da notícia &nbsp;
                  <i class="fa fa-image"></i>
                </label>
                                <img src="" alt="" class="image-cover" required>
                                <input type="text" class="post-title" placeholder="Título da notícia..." required>
                                <input type="text" class="post-subtitle" placeholder="Subtítulo da notícia..." required>
                                <div class="editor">
                                    <div class="contents"></div>
                                    <div class="editor-options">
                                    </div>
                                    <button class="text-button-options"></button>
                                </div>
                                <script src="{{ url_for('static', filename='javascript/editor.js') }}"></script>
                                <label id="game">Escolha o jogo referente a esta notícia:</label> {{ form.game_id(for="game", class_="select-game") }}
                                <label for="is-esport">Esta notícia é sobre eSports?</label>
                                <select name="" id="select-esports">
                  <option value="no">Não</option>
                  <option value="yes">Sim</option>
                </select> {{ form.is_esport(class="is-esport", id="is-esport") }}
                                <div class="source">
                                    <label for="source-question">Esta notícia possui alguma fonte de referência?</label>
                                    <select id="source-question">
                    <option value="no">Não</option>
                    <option value="yes">Sim</option>
                  </select> {{ form.source_name(class="source-name", type="name", placeholder="Coloque o nome da fonte usada como referência") }} {{ form.source_url(class="source-url", type="url", placeholder="Coloque
                                    a url da fonte usada como referência") }}
                                </div>
                                <button type="submit" class="submit"><i class="fas fa-paper-plane"></i> Enviar notícia</button>
                            </form>
                            <script src="{{ url_for('static', filename='javascript/newPost.js') }}"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'components/footer.html' %}
    </div>
</body>

</html>