<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'components/head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_tests.css') }}">
</head>

<body>
    <div class='web'>
        {% include 'components/header.html' %}
        <div class="payload">
          <form action="" class="upload-image">
            <label for="image">Selecione uma imagem para ser carregada para nossos servidores.</label><br>
            <input type="file" id="image"><br>
            <img class="image-url"></img><br>
            <button type="submit">Carregar</button>
          </form>
          <script>
            const uploadImage = document.querySelector('.upload-image');

            uploadImage.addEventListener('submit', () => {
              event.preventDefault();
              const file = document.querySelector('#image');
              const formData = new FormData();
              const XHR = new XMLHttpRequest;

              XHR.open('post', '/upload', true);
              XHR.onload
              XHR.onreadystatechange = () => {
                if (XHR.readyState === 4) {
                  if (XHR.status === 200) {
                    const data = JSON.parse(XHR.responseText);
                    const imageUrl = document.querySelector('.image-url');
                    console.log(data.url);
                    return imageUrl.src = data.url;
                  };
                };
              };
              formData.append('file', file.files[0]);
              XHR.send(formData);
            });

          </script>
        </div>
        {% include 'components/footer.html' %}
    </div>
</body>

</html>
