<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'components/head.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my_posts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/new_post.css') }}">
</head>

<body>
  <div class='web'>
    <div class="payload">
      <div class="sub_header">
        {% include 'components/sub_header.html' %}
      </div>
      {% if selected == 'posts' %} {% include 'pages/posts/my_posts.html' %} {% elif selected == 'new' %}
      {% include 'pages/posts/new_post.html' %} {% endif %}
    </div>
  </div>
</body>

</html>
