<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'components/head.html' %}
  <meta name="description" content="Todas as últimas notícias sobre jogos, e-sports, guias de estratégia e trailers." />
  <meta property="og:description"
    content="Todas as últimas notícias sobre jogos, e-sports, guias de estratégia e trailers.">
  <meta property="og:image" content="{{ url_for('static', filename='favicon.png') }}">
  <meta property="twitter:description"
    content="Todas as últimas notícias sobre jogos, e-sports, guias de estratégia e trailers." />
  <meta property="twitter:image" content="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
  <div class='web'>
    {% include 'components/header.html' %}
    <div class="payload">
      <div class="home">
        <div class="page">
          <a href="{{ url_for('notice', id=posts.pages[0].header.id) }}" class="header-art">
            <div class="category">{{ posts.pages[0].header.category.name }}</div>
            <h3 class="header-title">{{ posts.pages[0].header.title }}</h3>
            <div class="header-pic">
              <img src="{{ posts.pages[0].header.cover_image }}" alt="{{ posts.pages[0].header.title }}">
            </div>
            <p class="header-subtitle">{{ posts.pages[0].header.subtitle }}</p>
            <div class="infos">
              <span class="postedBy"><i
                  class="fas fa-user-tag">{{ posts.pages[0].header.posted_by.name + ' ' + posts.pages[0].header.posted_by.surname }}</i>
              </span>
              <time datetime="{{ posts.pages[0].header.addedAt }}"><i class="far fa-clock">
                  {{ DatePost(posts.pages[0].header.addedAt) }}</i></time>
            </div>
          </a>
          {% for post in posts.pages[0].notices %}
          <a class="rest-art" href="{{ url_for('notice', id=post.id) }}">
            <div class="rest-pic">
              <img src="{{ post.cover_image }}" alt="{{ post.title }}">
            </div>
            <div class="infos">
              <div class="category">{{ post.category.name }}</div>
              <h3 class="rest-title">{{ post.title }}</h3>
              <p class="rest-subtitle">{{ post.subtitle }}</p>
              <span class="postedBy"><i
                  class="fas fa-user-tag">{{ post.posted_by.name + ' ' + post.posted_by.surname }}</i></span>
              <time datetime="{{ post.addedAt }}"><i class="far fa-clock">
                  {{ DatePost(post.addedAt) }}</i></time>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="loads" style="position: relative;">
        {% include 'components/loader.html' %}
    </div>
    {% include 'components/footer.html' %}
  </div>
  <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
</body>

</html>
